<html>
    <body>
        <!-- <h1>Test Angular</h1>
        
        <app-header></app-header>
        
        <comp-aside></comp-aside>
        
        <app-input 
            (sendResult)="responseIncrementChange($event)">
        </app-input>

        <app-button 
            (clickEventListener)="responseEventListener()" 
            (resetListener)="resetIncremet()" 
            [buttonNameSubmit]="buttonNameSubmit" 
            [buttonNameReset]="buttonNameReset">
        </app-button>

        <p>Hasil: {{counter}}</p> -->
        <app-aside></app-aside>
    </body>
</html>



